@model IEnumerable<CBLSummerBugTracker08042016.Models.CodeFirst.Ticket>
@{
    ViewBag.Title = "Index";
}
<!--CSS-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" />

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")|
    @Html.ActionLink("My Tickets", "MyTickets") |
    @Html.ActionLink("Assigned Tickets", "AssignedTickets") |
    @Html.ActionLink("My Project Tickets", "MyProjectTickets")

</p>
@*@if (User.IsInRole("Admin"))
{*@
    <table class="table" id="ticket_table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TicketPriority)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Created)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Updated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OwnerUser)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AssignedToUser)
                </th>
                @if (User.IsInRole("Admin"))
                {
            <th></th>}
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <button type="button" class="btn btn-outline btn-success">@Html.DisplayFor(modelItem => item.TicketPriority.Name)</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline btn-@item.TicketStatus.Name">@Html.DisplayFor(modelItem => item.TicketStatus.Name)</button>
                    </td>
                    <td id="@item.TicketType">
                        @Html.DisplayFor(modelItem => item.TicketType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created.LocalDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Updated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.HiddenFor(modelItem => item.OwnerUserId)
                        @Html.DisplayFor(modelItem => item.OwnerUser.DisplayName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssignedToUser.DisplayName)
                    </td>
                    <td>
                        @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                        {

                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) @:|
                            @Html.ActionLink("Details", "Details", new { id = item.Id })
                        }
                             
                    </td>
                </tr>
            }
        </tbody>
    </table>
@*}*@


<!--jQuery-->
<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
@*@Scripts.Render("~/bundles/jquery")*@

<!--DataTables-->
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>


<script>
    $('#ticket_table').DataTable();
</script>

