@model IEnumerable<CBLSummerBugTracker08042016.Models.CodeFirst.AdminUserViewModel>
@using CBLSummerBugTracker08042016.Models.CodeFirst.Helpers

<div class="col-md-11 col-md-offset-1">
    @{ var counter = 3;
        var helper = new UserRolesHelper();}
    @foreach (var item in Model)
                {
                    string newrow = "";
                    if (counter % 3 == 0) { newrow = "row"; }
                    if (!helper.IsUserInRole(item.Id, "Admin"))                     /*comment out this if statement to allow edits of admin*/
                    {
        <div class="@newrow">
            <div class="col-lg-4">
                <div class="hpanel">
                    <div class="panel-heading hbuilt">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            <a class="closebox"><i class="fa fa-times"></i></a>
                        </div>
                        <h4>@Html.ActionLink(item.Name, "UserProfile", "Users", new { id = item.Id }, null)</h4>
                    </div>
                    <div class="panel-body">

                        <table class="table">
                            <tr>
                                <td class="col-md-3">
                                    @foreach (var role in item.selected)
                                        {
                                        <button class="btn-success"> @Html.DisplayFor(model => role)</button>
                                    }
                                </td>
                                <td class="col-md-3">
                                    <h4>@Html.ActionLink("Edit Roles", "EditUsers", new { id = item.Id })</h4>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
            counter++;
        }
    }
</div>


@*code to make panels draggable*@
    @*@section Scripts {
        @Scripts.Render("~/bundles/jqueryui/js")

        <script type="text/javascript">

            $(function () {

                var element = "[class*=col]";
                var handle = ".panel-body";
                var connect = "[class*=col]";
                $(element).sortable(
                        {
                            handle: handle,
                            connectWith: connect,
                            tolerance: 'pointer',
                            forcePlaceholderSize: true,
                            opacity: 0.8
                        })
                        .disableSelection();

            });
        </script>
    }*@
